:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #101010;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.create-post-icon {
  background-color: #101010;
  padding: 10px 11px;
  border-radius: 100%;
  font-size: $font-medium;
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  cursor: pointer;
  position: fixed;
  border: 1px solid transparent;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }
}

.footer {
  text-align: center;
  background-color: #101010;
  padding: 0.5rem 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.comments {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $contrast-color;
  border-radius: 3px;
  padding: 10px;

  &__title {
    font-size: $font-medium;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    &__box {
      padding: 0 1rem;
      width: 80%;
      margin-right: 10px;
    }
    &__button {
      width: 20%;
    }
    margin-bottom: 1rem;
  }
}

.comment {
  background-color: #101010;
  padding: 1rem;
  border-radius: 3px;
  margin: 0.5rem 0;

  &__content {
    font-size: 20px;
  }

  &__author {
    font-size: 15px;
  }
}

@media screen and (max-width: 661px) {
  .comments {
    &__form {
      flex-direction: column;
      &__box {
        padding: 0.6em 1.2em;
        margin-bottom: 10px;
        width: 87%;
      }

      &__button {
        width: 100%;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
